ul.menu {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 15px;
    color: #003366;
    padding: 0px;
    margin: 0px;
}

ul.menu li {
    display: inline;
    float: right;
    width: 150px;
    list-style-type: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 15px;
    color: #000080;
    text-decoration: none;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    border-left: #a52a2a solid thick;

}

UL.menu li A {
    background-color:#003366;
    background-image: url('/CSS/image/menuBG1.png');
    background-repeat: repeat-x;
    background-position: center center;
    color: #FFFFFF;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-decoration: none;
    line-height: 30px;
    width: 142px;
    display: block;
    font-weight: bold;
    padding-right: 8px;

}

ul.menu li a:hover {
    background-image: url('/CSS/image/menuBG2.png');
    background-repeat: repeat;
    background-position: center center;
    background-color: #00008b;
}

ul.menu li ul li a {
    background-color: #FFFFFF;
    background-image: url('/CSS/image/menuBG2.png');
    background-repeat: repeat-x;
    background-position: center center;
}

ul.menu li ul li a:hover {
    background-image: url('/CSS/image/menuBG1.png');
    background-repeat: repeat-x;
    background-position: center center;
    background-color: #008000;
    color: #FFFFFF;
}

ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}
